*{
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.page-title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 2.5em;
    color: #333;
}

.hack-container {
    display: flex;
    /* position: fixed; 
    color: #fff; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
    max-width: 1000px;
    margin: 0 auto;
    gap: 5px;
}

.hack-box {
    background: #fff;
    border-radius: 5%;
    border: 1px solid #ddd;
    padding: 10px;
    width: 500px;
    height: 500px;
    margin-bottom: 10px;
    text-align: left;
    /* margin-right: 5px; */
}

.hack-pictures{
    /* display: flex;
    border-radius: 5%;
    height: 400px;
    width: 500px;
    margin-bottom: 10px;
    text-align: right;
    border: 1px solid #ddd;
    padding: 20px; */
    border-radius: 1p solid #ddd;
}

.hack-pictures img {
    width: 480px;
    height: 500px;
    border-radius: 5%;
    object-fit: cover;
    border: 1px solid #ddd;
}


.medium-text {
    font-size: 1.1rem;
    font-weight: 500;
}